<div class="">
  <div class="row top_tiles">
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
        <div class="count">179</div>
        <h3>Đăng ký mới</h3>
        <p>Trong tháng 4.</p>
      </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-comments-o"></i></div>
        <div class="count">179</div>
        <h3>Tổng đơn đặt hàng</h3>
        <p>Trong tháng 4.</p>
      </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
        <div class="count">179</div>
        <h3>Sản phẩm mới</h3>
        <p>Trong tháng 4.</p>
      </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-check-square-o"></i></div>
        <div class="count">179</div>
        <h3>Cái gì đó</h3>
        <p>Không biết nói gì.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Doanh số bán hàng <small></small></h2>
          <div class="filter">
            <div id="reportrange" class="pull-right"
              style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
              <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="demo-container" style="height:280px">
              <div id="chart_plot_02" class="demo-placeholder"></div>
            </div>
            <div class="tiles">
              <div class="col-md-4 tile">
                <span>Tổng khách hàng</span>
                <h2>231,809</h2>
                <span class="sparkline11 graph" style="height: 160px;">
                  <canvas width="200" height="60"
                    style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                </span>
              </div>
              <div class="col-md-4 tile">
                <span>Doanh thu</span>
                <h2>$231,809</h2>
                <span class="sparkline22 graph" style="height: 160px;">
                  <canvas width="200" height="60"
                    style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                </span>
              </div>
              <div class="col-md-4 tile">
                <span>Tổng khách hàng</span>
                <h2>231,809</h2>
                <span class="sparkline11 graph" style="height: 160px;">
                  <canvas width="200" height="60"
                    style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                </span>
              </div>
            </div>

          </div>

          <div class="col-md-3 col-sm-12 col-xs-12">
            <div>
              <div class="x_title">
                <h2>Top 10 sản phẩm</h2>
                <div class="clearfix"></div>
              </div>
              <div class="scroll">
                <ul class="list-unstyled top_profiles scroll-view">
                  <li class="media event">
                    <a class="pull-left border-aero profile_thumb">
                      <i class="fa fa-user aero"></i>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Áo ba lổ</a>
                      <p> Giá bán<strong> $23. </strong> </p>
                      <p> <small>Số lượng đã bán 100 cái.</small>
                      </p>
                    </div>
                  </li>
                  <li class="media event">
                    <a class="pull-left border-aero profile_thumb">
                      <i class="fa fa-user aero"></i>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Áo ba lổ</a>
                      <p> Giá bán<strong> $23. </strong> </p>
                      <p> <small>Số lượng đã bán 100 cái.</small>
                      </p>
                    </div>
                  </li>
                  <li class="media event">
                    <a class="pull-left border-aero profile_thumb">
                      <i class="fa fa-user aero"></i>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Áo ba lổ</a>
                      <p> Giá bán<strong> $23. </strong> </p>
                      <p> <small>Số lượng đã bán 100 cái.</small>
                      </p>
                    </div>
                  </li>
                  <li class="media event">
                    <a class="pull-left border-aero profile_thumb">
                      <i class="fa fa-user aero"></i>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Áo ba lổ</a>
                      <p> Giá bán<strong> $23. </strong> </p>
                      <p> <small>Số lượng đã bán 100 cái.</small>
                      </p>
                    </div>
                  </li>
                  <li class="media event">
                    <a class="pull-left border-aero profile_thumb">
                      <i class="fa fa-user aero"></i>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Áo ba lổ</a>
                      <p> Giá bán<strong> $23. </strong> </p>
                      <p> <small>Số lượng đã bán 100 cái.</small>
                      </p>
                    </div>
                  </li>
                  <li class="media event">
                    <a class="pull-left border-aero profile_thumb">
                      <i class="fa fa-user aero"></i>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Áo ba lổ</a>
                      <p> Giá bán<strong> $23. </strong> </p>
                      <p> <small>Số lượng đã bán 100 cái.</small>
                      </p>
                    </div>
                  </li>
                  <li class="media event">
                    <a class="pull-left border-aero profile_thumb">
                      <i class="fa fa-user aero"></i>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Áo ba lổ</a>
                      <p> Giá bán<strong> $23. </strong> </p>
                      <p> <small>Số lượng đã bán 100 cái.</small>
                      </p>
                    </div>
                  </li>
                  <li class="media event">
                    <a class="pull-left border-aero profile_thumb">
                      <i class="fa fa-user aero"></i>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Áo ba lổ</a>
                      <p> Giá bán<strong> $23. </strong> </p>
                      <p> <small>Số lượng đã bán 100 cái.</small>
                      </p>
                    </div>
                  </li>
                  <li class="media event">
                    <a class="pull-left border-aero profile_thumb">
                      <i class="fa fa-user aero"></i>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Áo ba lổ</a>
                      <p> Giá bán<strong> $23. </strong> </p>
                      <p> <small>Số lượng đã bán 100 cái.</small>
                      </p>
                    </div>
                  </li>
                  <li class="media event">
                    <a class="pull-left border-aero profile_thumb">
                      <i class="fa fa-user aero"></i>
                    </a>
                    <div class="media-body">
                      <a class="title" href="#">Áo ba lổ</a>
                      <p> Giá bán<strong> $23. </strong> </p>
                      <p> <small>Số lượng đã bán 100 cái.</small>
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  {{#extend "namesFirst"}}{{admin.username}}{{/extend}}
  {{#extend "namesSecond"}}{{admin.username}}{{/extend}}
  {{#extend "idAccount"}}{{admin._id}}{{/extend}}