<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Đơn đặt hàng</h3>
    </div>

    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Khách hàng...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Tìm!</button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">

        <div class="x_content">


          <!-- start project list -->
          <table class="table table-striped projects">
            <thead>
              <tr>
                <th style="width: 1%">STT</th>
                <th style="width: 20%">Khách hàng</th>
                <th>Sản phẩm</th>
                <th>Trạng thái</th>
                <th style="width: 20%">Lựa chọn</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>
                  <a>Pesamakini Backend UI</a>
                  <br />
                  <small>Ngày đặt hàng 01.01.2015</small>
                </td>
                <td>
                  <ul class="list-inline">
                    <li>
                      <img src="images/user.png" class="avatar" alt="Avatar">
                    </li>
                    <li>
                      <img src="images/user.png" class="avatar" alt="Avatar">
                    </li>
                    <li>
                      <img src="images/user.png" class="avatar" alt="Avatar">
                    </li>
                    <li>
                      <img src="images/user.png" class="avatar" alt="Avatar">
                    </li>
                  </ul>
                </td>
                <td>
                  <button type="button" class="btn btn-success btn-xs">Đã nhận</button>
                </td>
                <td>
                  <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Chi tiết </a>
                  <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Chỉnh sửa </a>
                  <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Xóa </a>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  <a>Pesamakini Backend UI</a>
                  <br />
                  <small>Ngày đặt hàng 01.01.2015</small>
                </td>
                <td>
                  <ul class="list-inline">
                    <li>
                      <img src="images/user.png" class="avatar" alt="Avatar">
                    </li>
                    <li>
                      <img src="images/user.png" class="avatar" alt="Avatar">
                    </li>
                  </ul>
                </td>
                <td>
                  <button type="button" class="btn btn-primary btn-xs">Đang giao</button>
                </td>
                <td>
                  <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Chi tiết </a>
                  <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Chỉnh sửa </a>
                  <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Xóa </a>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>
                  <a>Pesamakini Backend UI</a>
                  <br />
                  <small>Ngày đặt hàng 01.01.2015</small>
                </td>
                <td>
                  <ul class="list-inline">
                    <li>
                      <img src="images/user.png" class="avatar" alt="Avatar">
                    </li>
                    <li>
                      <img src="images/user.png" class="avatar" alt="Avatar">
                    </li>
                    <li>
                      <img src="images/user.png" class="avatar" alt="Avatar">
                    </li>
                  </ul>
                </td>
                <td>
                  <button type="button" class="btn btn-danger btn-xs">Hủy đơn</button>
                </td>
                <td>
                  <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Chi tiêt </a>
                  <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Chỉnh sửa </a>
                  <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Xóa </a>
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td>
                  <a>Pesamakini Backend UI</a>
                  <br />
                  <small>Ngày đặt hàng 01.01.2015</small>
                </td>
                <td>
                  <ul class="list-inline">
                    <li>
                      <img src="images/user.png" class="avatar" alt="Avatar">
                    </li>
                    <li>
                      <img src="images/user.png" class="avatar" alt="Avatar">
                    </li>
                    <li>
                      <img src="images/user.png" class="avatar" alt="Avatar">
                    </li>
                    <li>
                      <img src="images/user.png" class="avatar" alt="Avatar">
                    </li>
                  </ul>
                </td>
                <td>
                  <button type="button" class="btn btn-success btn-xs">Đã nhận</button>
                </td>
                <td>
                  <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Chi tiết </a>
                  <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Chỉnh sửa </a>
                  <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Xóa </a>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- end project list -->

        </div>
      </div>
    </div>
  </div>
</div>
{{#extend "namesFirst"}}
{{admin.username}}
{{/extend}}
{{#extend "namesSecond"}}
{{admin.username}}
{{/extend}}