<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}} </title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="../vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="https://murmuring-beach-70127.herokuapp.com/images/icons/favicon.png">

</head>

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form method="POST">
                        <h1>Đăng nhập</h1>
                        <div>
                            <input type="email" class="form-control" placeholder="Email" name="email"
                                data-validate-words="1" required="required" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Mật khẩu" name="password"
                                required="required" />
                        </div>
                        <div>
                            <input class="btn btn-default submit" type="submit" value="Đăng nhập">
                            <p>Bạn chưa có tài khoản? Hãy liên hệ quản trị viển</p>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">


                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and
                                    Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>

            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    <form method="POST">
                        <h1>Tạo tài khoản</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Tên đăng nhập" required="required"
                                name="username" />
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Email" required="required"
                                name="email" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Mật khẩu" required="required"
                                name="password" />
                        </div>
                        <div>
                            <button type="submit" class="btn btn-default submit">Đăng ký</button>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">Đã có tài khoản?
                                <a href="#signin" class="to_register"> Đăng nhập </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and
                                    Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>

</html>