<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Thông tin chi tiết nhà phân phối</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">

                    <form class="form-horizontal form-label-left" method="POST" novalidate>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Tên nhà phân phối<span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6"
                                    data-validate-words="1" name="name" required="required" type="text"
                                    value="{{distributorDetail.name}}">
                            </div>
                        </div> 

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <a href="/distributor"><button type="button" class="btn btn-primary">Hủy bỏ</button></a>
                                <button id="send" type="submit" class="btn btn-success">{{display.btn}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>